[project]
requires-python = ">=3.9"

[build-system]
requires = [
    "setuptools>=42",
    "wheel",
    "pybind11~=2.6.1",
]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 79

[tool.pytest]
minversion = 7.1
