furo==2023.5.20
matplotlib>=3.7.2
numpy>=1.25.1
pandas>=2.2.3
pre-commit>=3.3.3
pybind11>=3.0.1
pytest>=7.4.0
pytest-order>=1.1.0
scipy>=1.15.3
seaborn>=0.12.2
setuptools>=78.1.1
sphinx>=7.0.1
twine>=4.0.2
wheel>=0.40.0
